<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @category  Embitel
 * @package   Embitel_Adminmodule
 * @author    Fahim Khan <faim.khan@embitel.com>
 * @copyright 2018-2019 Embitel technologies (I) Pvt. Ltd
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="adminmodule" frontName="custom_adminmodule">
            <module name="Embitel_Adminmodule" />
        </route>
    </router>
</config>
