<?xml version="1.0"?>

<!--
/**
 * Module configuration
 *
 * @category  Embitel
 * @package   Embitel_ApiDemo
 * @author    Fahim Khan <Faim.khan@embitel.com>
 * @copyright 2018-2019 Embitel technologies (I) Pvt. Ltd
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Embitel_ApiDemo::manager" title="Embitel ApiDemo" module="Embitel_ApiDemo" sortOrder="10" resource="Embitel_ApiDemo::manager" />
        <add id="Embitel_ApiDemo::add_row" title="ApiDemo Manager" module="Embitel_ApiDemo" sortOrder="20" parent="Embitel_ApiDemo::manager" action="apidemo/grid" resource="Embitel_ApiDemo::add_row"/>
    </menu>
</config>