<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @category  Embitel
 * @package   Embitel_ApiDemo
 * @author    Fahim Khan <Faim.khan@embitel.com>
 * @copyright 2018-2019 Embitel technologies (I) Pvt. Ltd
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">    
    
<preference for="Embitel\ApiDemo\Api\Data\ApiDemoInterface" type="Embitel\ApiDemo\Model\ApiDemo" />

    <virtualType name="Embitel\ApiDemo\Model\ResourceModel\ApiDemo\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">apidemo_records</argument>
            <argument name="resourceModel" xsi:type="string">Embitel\ApiDemo\Model\ResourceModel\ApiDemo</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="apidemo_record_grid_list_data_source" xsi:type="string">Embitel\ApiDemo\Model\ResourceModel\ApiDemo\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
<!--     <type name="Webkul\Grid\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type> 
    <type name="Webkul\Grid\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">customLogHandler</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Webkul\Grid\Logger\Handler</item>
            </argument>
        </arguments>
    </type> -->

</config>
